* {
	padding:0;
	margin:0;
}

body {
	background:#FFFFFA;
}

header {
	width:100%;
}

header nav {
	width:90%;
	margin:20px auto;
	max-width:1000px;
	background:#3f8cdd;
}

.menu_bar {
	display:none;
}

header nav ul {
	list-style:none;
	overflow:hidden;
}

header nav ul li {
	float: left;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a{
	display:block;
	padding:20px;
	color:#fff;
	text-decoration:none;
	font-family: "Seaweed Script",cursive;
	font-size: 35px;
}

header nav ul li a:hover {
	background:#037E8C;
}

section {
	padding:20px;
}

@media screen and (max-width:800px) {
	header nav {
		width:80%;
		height:100%;
		margin:0;
		position: fixed;
		left:-100%;
		/*top:0px;*/
		overflow:auto;
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background:#3f8cdd;
		overflow: hidden;
		font-size:40px;
		font-family: "Seaweed Script",cursive;
		font-weight:bold;
		color:#fff;
		text-decoration:none;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255,.3);
	}
}

footer .logo{
height: 72px;
width: 110px;
float: right;
margin: 23px;

}
footer{
	background: url(../images/footer.jpg) no-repeat top center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
max-width:100%;
height: 126px;
}

section#home{
background: url(../images/fondo_home.jpg) no-repeat top center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
max-width:100%;
height: 940px;

}

section#nosotros{
background: url(../images/fondo_nosotros.jpg) no-repeat top center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
max-width:100%;
height: 940px;

}


section#trabajo{
background: url(../images/fondo_trabajo.jpg) no-repeat top center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
max-width:100%;
height: 940px;

}


section#contacto{
background: url(../images/fondo_contacto.jpg) no-repeat top center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
max-width:100%;
height: 940px;

}